<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap=".vendor/autoload.php"
    cacheTokens="true"
    colors="true"
    convertErrorsToExceptions="true" convernoticesToExceptions="true" converWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="false"
    
    <testsuites>
        <testesuite name="Gabarito tests">
            <directory>./tests/</directory>
        </testesuite>
    </testsuites>
</phpunit>       